<!DOCTYPE html>
<html lang="ja">        
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>ホームページ</title>
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> 
</head>
<style>

*{
    margin:0px
}

#scoreBarWhite{
    background-color: white;
    height:40px;
    border-radius:10px 0px 0px 10px;
    border-left:2px solid rgb(196, 49, 49);
    border-top:2px solid rgb(196, 49, 49);
    border-bottom:2px solid rgb(196, 49, 49);
    width:50%
}

#scoreBarRed{
    background-color: rgb(196, 49, 49);
    height:40px;
    border-radius:0px 10px 10px 0px;
    border-right:2px solid rgb(196, 49, 49);
    border-top:2px solid rgb(196, 49, 49);
    border-bottom:2px solid rgb(196, 49, 49);
    width:50%
}

.scoreFontRed{
    font-weight:bold;
    color:rgb(196, 49, 49);
    font-family:'Jost'
}

.scoreFontWhite{
    font-weight:bold;
    color:white;
    font-family:'Jost';
    -webkit-text-stroke: 2px rgb(196, 49, 49);
}

.redRankBar{
    background-color:rgb(196, 49, 49);
    color:white;
    font-size:14px;
    font-weight:bold;
    font-family: 'jost';
}

.whiteRankBar{
    border:1px solid rgb(196, 49, 49);
    color:rgb(196, 49, 49);
    font-size:14px;
    font-weight:bold;
    font-family: 'jost';
}

#load_logo{
    opacity: 0;
    animation: fadeIn 1s ease forwards; 
    transform: translateY(50px);
}

@keyframes fadeIn {
  to {  opacity: 1;
        transform: translateY(0); }
}

</style>
<body style="background-color: white;">
    <div id="app">
    
    <template v-if="load==false">

    <div style="background-color:rgb(196, 49, 49);height:50px;width:100%;padding:13px" class="d-flex">
        <p style="color:white;font-size:13px;font-weight:bold" @click="page='home'">ホーム</p>
        <p style="color:white;font-size:13px;font-weight:bold" class="ms-3" @click="page='view_all'">得点一覧</p>
        <a href="https://sites.google.com/kenchiba.net/sportsfest" style="text-decoration:none;color:white;font-size:13px;font-weight:bold" class="ms-3">公式サイト</a>
    </div>
    <div style="background-size:  cover;background-image: url('imgs/pre.png');text-align:center;border-bottom:solid 1px gray;padding:20px;box-shadow: 0px 5px 4px gray;width:100%;background-color: white;">
        <div style="text-align: center;" >
            <img src="imgs/header_logo.png" width="60%" style="text-align: center;">
        </div>
    </div>

    <div class="m-4 mt-4">
        <div v-if="page=='home'">
            <img src="imgs/score.png" width="150px">
            <div style="height:2px;background-color:rgb(196, 49, 49);width:100%" class="mt-2"></div>
            <!--{{result}}-->
            <template v-if="time_flag==true">
            <div class="mt-2">
                <div class="d-flex justify-content-between">
                <span style="font-size:30px;font-weight:bold;color:white;font-family:'Jost';-webkit-text-stroke: 2px rgb(196, 49, 49)">{{result.total[1]}}</span>
                <span style="font-size:32px;font-weight:bold;color:rgb(196, 49, 49);font-family:'Jost'">{{result.total[0]}}</span>
                </div>
            </div>
            <div class="row d-flex" style="margin-top:0px">
                <div class="" id="scoreBarWhite" v-bind:style="{width:result.total[1]/(result.total[0]+result.total[1])*100+'%'}"></div>
                <div class="" id="scoreBarRed" v-bind:style="{width:result.total[0]/(result.total[0]+result.total[1])*100+'%'}"></div>
            </div>
            </template>
            <template v-else>
                <div class="mt-2">
                    <div class="d-flex justify-content-between">
                    <span style="font-size:30px;font-weight:bold;color:white;font-family:'Jost';-webkit-text-stroke: 2px rgb(196, 49, 49)">???</span>
                    <span style="font-size:32px;font-weight:bold;color:rgb(196, 49, 49);font-family:'Jost'">???</span>
                    </div>
                </div>
                <div class="row d-flex" style="margin-top:0px">
                    <div class="" id="scoreBarWhite" style="width:50%"></div>
                    <div class="" id="scoreBarRed" style="width:50%"></div>
                </div>
            </template>
            <div style="overflow-y: scroll;height:260px;padding-left:20px;padding-right:20px;border-bottom:1px solid rgb(196, 49, 49)">
                <div class="mt-4">
                <template v-for="(i,index) in game_list.slice().reverse()">
                    <template v-if="result['game_score'][i][0]+result['game_score'][i][1]!=0">
                    <div class="mt-2 mx-auto" style="height:20px;width:2px;background-color:rgb(196, 49, 49)"></div>
                    <p class="text-center fw-bold mt-2 mx-auto p-1" style="border-radius:50px;width:90px;border:1px solid rgb(196, 49, 49);color:rgb(196, 49, 49);font-size:13px">
                        第{{game_list.length-index}}競技</p>
                    <div class="d-flex justify-content-between ps-5 pe-5 ">
                        <span style="font-size:25px;font-weight:bold;color:white;font-family:'Jost';-webkit-text-stroke: 2px rgb(196, 49, 49);margin-top:20px">{{result.game_score[i][1]}}</span>
                        <div style="text-align: center;">
                        <img v-bind:src="'imgs/'+i+'.png'" style="width:95px;" @click="page=i">
                        <p style="font-size:15px;color:rgb(196, 49, 49)" class="fw-bold">{{game_list_jp.slice().reverse()[index]}}</p>
                        </div>
                        <span style="font-size:27px;font-weight:bold;color:rgb(196, 49, 49);font-family:'Jost';margin-top:20px">{{result.game_score[i][0]}}</span>
                    </div>
                    </template>
                </template>
                </div>
            </div>
            <div class="text-center mt-3">
            <button @click="page='view_all'" class=" mx-auto" style="text-decoration:none;width:50%;border:2px solid rgb(196, 49, 49);border-radius:30px;font-family:'jost';font-size:18px;background-color:white;color:rgb(196, 49, 49)">View All</button>
            </div>
            <template v-if="next_game!='last_logo'">
            <div class="card mt-3 pt-2 ps-3 pe-3 pb-3" style="background-color:#d90505ff;">
                <p style="font-size:20px;color:white;font-family:'jost';font-weight:bold">NEXT</p>
                <div style="height:2px;background-color:white;width:100%;margin-top:-15px"></div>
                <div class="d-flex" style="margin-top:10px">
                <img v-bind:src="'imgs/'+next_game+'.png'" style="width:90px">
                <p style="font-size:17px;color:white;font-family:'jost';font-weight:bold" class="ms-3 mt-3">{{next_game_jp}}</p>
                </div>
            </div>
            </template>
            <template v-else>
                <div class="card mt-3 pt-2 ps-3 pe-3 pb-3" style="background-color:white;border:1px solid #d90505ff">
                    <div class="d-flex" style="margin-top:10px">
                    <img v-bind:src="'imgs/'+next_game+'.png'" style="width:50px">
                    <p style="font-size:17px;color:#d90505ff;font-family:'jost';font-weight:bold" class="ms-3 mt-3">{{next_game_jp}}</p>
                    </div>
                </div>
            </template>
        </div>

        <div v-else-if="page=='select'" class="p-3">
            <div class="d-flex justify-content-between">
                <p class="scoreFontWhite" style="font-size:35px;margin-top:30px">342</p>
                <img src="imgs/teamdance.svg" style="width:120px;">
                <p class="scoreFontRed" style="font-size:35px;margin-top:30px">594</p>
            </div>
            <div class="mt-2 mx-auto" style="height:40px;width:2px;background-color:rgb(196, 49, 49)"></div>
            <div class="d-flex justify-content-between">
                <p class="scoreFontWhite" style="font-size:35px;margin-top:30px">342</p>
                <img src="imgs/teamdance.svg" style="width:120px;">
                <p class="scoreFontRed" style="font-size:35px;margin-top:30px">594</p>
            </div>        
        </div>

        <div v-else-if="page=='typhoon'">
            <button @click="page='home'" class="d-block mt-3" style="text-decoration:none;width:70px;background-color:rgb(196, 49, 49);border-radius:0px 80px 80px 0px;font-size:13px;color:white;border:none;height:25px;font-weight:bold">ホームへ</button>
            <div class="d-flex mt-3">
            <img v-bind:src="'imgs/'+page+'.png'" style="width:100px">
            <p class="scoreFontRed" style="font-size:20px;margin-top:30px;margin-left:20px">EYE OF TYPHOON</p>
            </div>
            <div style="height:2px;background-color:rgb(196, 49, 49);width:100%" class="mt-2"></div>
            <template v-for="j in 2">
            <div class="card" style="padding:15px;margin-top:20px;border:1px solid rgb(196, 49, 49)">
                <p style="border-radius:80px;padding:5px;font-weight:bold;border:1px solid rgb(196, 49, 49);font-size:12px;width:90px;color:rgb(196, 49, 49);text-align: center;">第{{j}}レース</p>
                <template v-for="(i,index) in result['typhoon'][j-1]">
                    <div class="card mb-2 ps-3" v-bind:class="{card:true,'mb-2':true,whiteRankBar:team[3].includes(i[2]),redRankBar:team[2].includes(i[2])}" 
                    style="height:35px;padding-top:6px">
                        <p>{{index+1}}<span class="ms-5">{{i}}</span><span style="float: right" class="me-3">{{score_config.typhoon_score[index]}}p</span></p>
                    </div>
                </template>
            </div>
            </template>
        </div>

        <div v-else-if="page=='all_relay'">
            <button @click="page='home'" class="d-block mt-3" style="text-decoration:none;width:70px;background-color:rgb(196, 49, 49);border-radius:0px 80px 80px 0px;font-size:13px;color:white;border:none;height:25px;font-weight:bold">ホームへ</button>
            <div class="d-flex mt-3">
            <img v-bind:src="'imgs/'+page+'.png'" style="width:100px">
            <p class="scoreFontRed" style="font-size:20px;margin-top:30px;margin-left:20px">ALL STAR RELAY</p>
            </div>
            <div style="height:2px;background-color:rgb(196, 49, 49);width:100%" class="mt-2"></div>
            <template v-for="j in 3">
            <div class="card" style="padding:15px;margin-top:20px;border:1px solid rgb(196, 49, 49)">
                <p style="border-radius:80px;padding:5px;font-weight:bold;border:1px solid rgb(196, 49, 49);font-size:12px;width:90px;color:rgb(196, 49, 49);text-align: center;">
                    {{game_order['all_relay'][j-1]}}</p>
                <template v-for="(i,index) in result['all_relay'][j-1]">
                    <div class="card mb-2 ps-3" v-bind:class="{card:true,'mb-2':true,whiteRankBar:team[3].includes(i[2]) || team[1].includes(i),redRankBar:team[2].includes(i[2]) || team[0].includes(i)}" 
                    style="height:35px;padding-top:6px">
                        <p>{{index+1}}<span class="ms-5">{{i}}</span><span style="float: right" class="me-3">{{score_config.long_jump[index]}}p</span></p>
                    </div>
                </template>
            </div>
            </template>
        </div>

        <div v-else-if="page=='borrow_race'">
            <button @click="page='home'" class="d-block mt-3" style="text-decoration:none;width:70px;background-color:rgb(196, 49, 49);border-radius:0px 80px 80px 0px;font-size:13px;color:white;border:none;height:25px;font-weight:bold">ホームへ</button>
            <div class="d-flex mt-3">
            <img v-bind:src="'imgs/'+page+'.png'" style="width:100px;height:90px" >
            <p class="scoreFontRed" style="font-size:20px;margin-top:30px;margin-left:20px">BORROW TO BORROW RACE</p>
            </div>
            <div style="height:2px;background-color:rgb(196, 49, 49);width:100%" class="mt-2"></div>
            <template v-for="j in 6">
            <div class="card" style="padding:15px;margin-top:20px;border:1px solid rgb(196, 49, 49)">
                <p style="border-radius:80px;padding:5px;font-weight:bold;border:1px solid rgb(196, 49, 49);font-size:12px;width:90px;color:rgb(196, 49, 49);text-align: center;">第{{j}}レース</p>
                <div class="d-flex">
                <p style="font-size:12px;margin-left:33px;color:rgb(196, 49, 49)" class="fw-bold ">中学</p>
                <p style="font-size:12px;margin-left:38px;color:rgb(196, 49, 49)" class="fw-bold ">高1</p>
                <p style="font-size:12px;margin-left:38px;color:rgb(196, 49, 49)" class="fw-bold ">高2</p>
                <p style="font-size:12px;margin-left:38px;color:rgb(196, 49, 49)" class="fw-bold ">高3</p>
                </div>
                <template v-for="i in 4">
                    <div class="d-flex">
                    <p style="font-size:20px;font-family:'jost';color:rgb(196, 49, 49)" class="me-3 fw-bold">{{i}}</p>
                    <div class="d-flex">
                    <template v-for="k in result['borrow_race'][j-1][i-1]">
                        <template v-if="k!=null">
                            <div class="mr-3 pt-2" v-bind:class="{card:true,'mb-2':true,whiteRankBar:team[3].includes(k[2]) || team[1].includes(k),redRankBar:team[2].includes(k[2]) || team[0].includes(k)}" 
                            style="height:35px;width:40px;margin-right:15px;font-size:12px;text-align: center;">
                                {{k}}
                            </div>
                        </template>
                    </template>
                    </div>
                    <p style="margin-top:3px;float: right;color:rgb(196, 49, 49);font-family:'jost';font-size:20px" class="me-3 fw-bold" >
                        {{score_config.borrow_race[i-1]}}p</p>
                    </div>
                </template>
            </div>
            </template>
        </div>

        <div v-else-if="page=='long_jump'">
            <button @click="page='home'" class="d-block mt-3" style="text-decoration:none;width:70px;background-color:rgb(196, 49, 49);border-radius:0px 80px 80px 0px;font-size:13px;color:white;border:none;height:25px;font-weight:bold">ホームへ</button>
            <div class="d-flex mt-3">
            <img v-bind:src="'imgs/'+page+'.png'" style="width:100px">
            <p class="scoreFontRed" style="font-size:20px;margin-top:30px;margin-left:20px">LONG ROPE JUMP</p>
            </div>
            <div style="height:2px;background-color:rgb(196, 49, 49);width:100%" class="mt-2"></div>
            <template v-for="j in 3">
                <div class="card" style="padding:10px;margin-top:20px;border:1px solid rgb(196, 49, 49)">
                    <p style="border-radius:80px;padding:5px;font-weight:bold;border:1px solid rgb(196, 49, 49);font-size:12px;width:90px;color:rgb(196, 49, 49);text-align: center;">
                        {{game_order['long_jump'][j-1]}}</p>
                    <template v-for="(i,index) in result['long_jump'][j-1]">
                        <div class="card mb-2 ps-3" v-bind:class="{card:true,'mb-2':true,whiteRankBar:team[3].includes(i[0][2]) || team[1].includes(i[0]),redRankBar:team[2].includes(i[0][2]) || team[0].includes(i[0])}" 
                        style="height:53px">
                        <div class="d-flex">
                            <p style="margin-top:15px">{{index+1}}</p>
                            <div class="ms-1 mt-2">
                            <p class="ms-4 ">{{i[0]}}</p>
                            <p class="ms-3" style="margin-top:-20px">{{i[3]}}回</p>
                            </div>
                            <div class="ms-4" style="margin-top:7px">
                                <p style="font-size:11px">大繩 : {{i[1]}}</p>
                                <p style="font-size:11px;margin-top:-10px">8の字 : {{i[2]}}</p>
                            </div>
                            <p style="margin-top:15px" class="ms-auto me-3">{{score_config.all_relay_score[index]}}p</p>
                            </div>
                        </div>
                    </template>
                </div>
            </template>
        </div>

        <div v-else-if="page=='ball_toss'">
            <button @click="page='home'" class="d-block mt-3" style="text-decoration:none;width:70px;background-color:rgb(196, 49, 49);border-radius:0px 80px 80px 0px;font-size:13px;color:white;border:none;height:25px;font-weight:bold">ホームへ</button>
            <div class="d-flex mt-3">
            <img v-bind:src="'imgs/'+page+'.png'" style="width:90px" class="img-fluid">
            <p class="scoreFontRed" style="font-size:20px;margin-top:30px;margin-left:20px">OBSTACLE BALL TOSS</p>
            </div>
            <div style="height:2px;background-color:rgb(196, 49, 49);width:100%" class="mt-2"></div>
            <template v-for="j in 3">
                <div class="card" style="padding:15px;margin-top:20px;border:1px solid rgb(196, 49, 49)">
                    <p style="border-radius:80px;padding:5px;font-weight:bold;border:1px solid rgb(196, 49, 49);font-size:12px;width:120px;color:rgb(196, 49, 49);text-align: center;">
                        {{game_order['ball_toss'][j-1]}}</p>
                    <template v-for="(i,index) in result['ball_toss'][j-1]">
                        <div class="card mb-2 pt-1 ps-3" v-bind:class="{card:true,'mb-2':true,whiteRankBar:team[3].includes(i[0][2]) || team[1].includes(i[0]),redRankBar:team[2].includes(i[0][2]) || team[0].includes(i[0])}" 
                        style="height:53px">
                        <div class="d-flex">
                            <div class="ms-1" style="font-size:11px;margin-top:2px" >
                            <p class=" ">{{i[0]}}</p>
                            <p class="" style="margin-top:-20px">&</p>
                            <p class="" style="margin-top:-20px">{{i[1]}}</p>
                            </div>
                            <p class="ms-4" style="font-size:15px;margin-top:10px">{{i[5]}}球</p>
                            <div class="ms-4" style="margin-top:3px">
                                <p style="font-size:11px">獲得球 : {{i[3]}}</p>
                                <p style="font-size:11px;margin-top:-10px">お邪魔された球 : {{i[4]}}</p>
                            </div>
                            </div>
                        </div>
                    </template>
                </div>
            </template>
        </div>

        <div v-else-if="page=='vertical_relay'">
            <button @click="page='home'" class="d-block mt-3" style="text-decoration:none;width:70px;background-color:rgb(196, 49, 49);border-radius:0px 80px 80px 0px;font-size:13px;color:white;border:none;height:25px;font-weight:bold">ホームへ</button>
            <div class="d-flex mt-3">
            <img v-bind:src="'imgs/'+page+'.png'" style="width:100px">
            <p class="scoreFontRed" style="font-size:20px;margin-top:30px;margin-left:20px">VERTICAL RELAY</p>
            </div>
            <div style="height:2px;background-color:rgb(196, 49, 49);width:100%" class="mt-2"></div>
            <template v-for="j in 1">
                <div class="card" style="padding:15px;margin-top:20px;border:1px solid rgb(196, 49, 49)">
                    <template v-for="(i,index) in result['vertical_relay']">
                        <div class="card mb-2 ps-3" v-bind:class="{card:true,'mb-2':true,whiteRankBar:team[3].includes(i[0]) || team[1].includes(i[0]),redRankBar:team[2].includes(i[0]) || team[0].includes(i[0])}" 
                        style="height:35px">
                        <div class="d-flex">
                            <p style="margin-top:6px">{{index+1}}</p>
                            <p class="ms-3" style="margin-top:6px">{{i[0]}} & {{i[1]}} & {{i[2]}}</p>
                            <p style="margin-top:6px" class="ms-auto me-3">{{score_config.vertical_relay[index]}}p</p>
                            </div>
                        </div>
                    </template>
                </div>
            </template>
        </div>

        <div v-else-if="page=='dance'">
            <button @click="page='home'" class="d-block mt-3" style="text-decoration:none;width:70px;background-color:rgb(196, 49, 49);border-radius:0px 80px 80px 0px;font-size:13px;color:white;border:none;height:25px;font-weight:bold">ホームへ</button>
            <div class="d-flex mt-3">
            <img v-bind:src="'imgs/'+page+'.png'" style="width:100px">
            <p class="scoreFontRed" style="font-size:20px;margin-top:30px;margin-left:20px">TEAM DANCE</p>
            </div>
            <div style="height:2px;background-color:rgb(196, 49, 49);width:100%" class="mt-2"></div>
            <template v-for="j in 2">
                <div class="card" style="padding:15px;margin-top:20px;border:1px solid rgb(196, 49, 49)">
                    <p style="border-radius:80px;padding:5px;font-weight:bold;border:1px solid rgb(196, 49, 49);font-size:12px;width:90px;color:rgb(196, 49, 49);text-align: center;">
                        {{game_order['dance'][j-1]}}</p>
                    <template v-for="(i,index) in result['dance'][j-1]">
                        <div class="card mb-2 ps-3" v-bind:class="{card:true,'mb-2':true,whiteRankBar:team[3].includes(i[2]) || team[1].includes(i),redRankBar:team[2].includes(i[2]) || team[0].includes(i)}" 
                        style="height:35px;padding-top:6px">
                            <p>{{index+1}}<span class="ms-5">{{i}}</span><span style="float: right" class="me-3">{{score_config.long_jump[index]}}p</span></p>
                        </div>
                    </template>
                </div>
            </template>
        </div>

        <div v-else-if="page=='view_all'">
            <button @click="page='home'" class="d-block mt-3" style="text-decoration:none;width:70px;background-color:rgb(196, 49, 49);border-radius:0px 80px 80px 0px;font-size:13px;color:white;border:none;height:25px;font-weight:bold">ホームへ</button>
            <template v-for="(i,index) in game_list">
                <template v-if="result['game_score'][i][0]+result['game_score'][i][1]!=0">
                <p class="text-center fw-bold mt-2 mx-auto p-1" style="border-radius:50px;width:75px;border:1px solid rgb(196, 49, 49);color:rgb(196, 49, 49);font-size:12px">第{{index+1}}競技</p>
                <div class="d-flex justify-content-between ps-5 pe-5 ">
                    <span style="font-size:25px;font-weight:bold;color:white;font-family:'Jost';-webkit-text-stroke: 2px rgb(196, 49, 49);margin-top:20px">{{result.game_score[i][1]}}</span>
                    <div style="text-align: center;">
                    <img v-bind:src="'imgs/'+i+'.png'" style="width:90px;" @click="page=i">
                    <p style="font-size:16px;color:rgb(196, 49, 49)" class="fw-bold">{{game_list_jp[index]}}</p>
                    </div>
                    <span style="font-size:27px;font-weight:bold;color:rgb(196, 49, 49);font-family:'Jost';margin-top:20px">{{result.game_score[i][0]}}</span>
                </div>
                <div class="mt-2 mx-auto" style="height:20px;width:2px;background-color:rgb(196, 49, 49)"></div>
                </template>
            </template>
            <div class="ps-3 pe-3">
                <div class="">
                    <div class="d-flex justify-content-between">
                    <span style="font-size:27px;font-weight:bold;color:white;font-family:'Jost';-webkit-text-stroke: 2px rgb(196, 49, 49)">{{result.total[1]}}</span>
                    <span style="font-size:29px;font-weight:bold;color:rgb(196, 49, 49);font-family:'Jost'">{{result.total[0]}}</span>
                    </div>
                </div>
                <div class="row d-flex" style="margin-top:0px">
                    <div class="" id="scoreBarWhite" v-bind:style="{width:result.total[1]/(result.total[0]+result.total[1])*100+'%'}"></div>
                    <div class="" id="scoreBarRed" v-bind:style="{width:result.total[0]/(result.total[0]+result.total[1])*100+'%'}"></div>
                </div>
            </div>
            <button @click="page='home'" class="d-block mx-auto mt-4" style="text-decoration:none;width:110px;background-color:rgb(196, 49, 49);border-radius:80px;font-size:15px;color:white;border:none;height:35px">ホームへ</button>
        </div>

        <div v-if="game_list.includes(page)">
            <div class="d-flex justify-content-between mt-4 ps-5 pe-5">
                <span style="font-size:25px;margin-top:20px" class="scoreFontWhite">{{result.game_score[page][1]}}</span>
                <div style="text-align: center;">
                    <img v-bind:src="'imgs/'+page+'.png'" style="width:100px;">
                </div>
                <span style="font-size:27px;margin-top:20px" class="scoreFontRed">{{result.game_score[page][0]}}</span>
            </div>
            <div style="height:2px;background-color:rgb(196, 49, 49);width:100%" class="mt-3"></div>
            <div class="mt-2 ps-3 pe-3">
                <div class="d-flex justify-content-between">
                <span style="font-size:30px;font-weight:bold;color:white;font-family:'Jost';-webkit-text-stroke: 2px rgb(196, 49, 49)">{{result.total[1]}}</span>
                <span style="font-size:32px;font-weight:bold;color:rgb(196, 49, 49);font-family:'Jost'">{{result.total[0]}}</span>
                </div>
            </div>
            <div class="row d-flex ps-3 pe-3" style="margin-top:0px">
                <div class="" id="scoreBarWhite" v-bind:style="{width:result.total[1]/(result.total[0]+result.total[1])*100+'%'}"></div>
                <div class="" id="scoreBarRed" v-bind:style="{width:result.total[0]/(result.total[0]+result.total[1])*100+'%'}"></div>
            </div>
            <button @click="page='home'" class="d-block mx-auto mt-4" style="text-decoration:none;width:110px;background-color:rgb(196, 49, 49);border-radius:80px;font-size:15px;color:white;border:none;height:35px">ホームへ</button>
        </div>

        <div v-if="next_game=='typhoon' && page=='view_all'">
            <p style="color:rgb(196, 49, 49);font-size:25px;margin-bottom:200px" class="fw-bold text-center mt-5">まだ終了した競技はありません</p>
        </div>
    


    </div>
    <footer class="bg-dark text-white py-3 mt-auto" style="height:80px">
        <div class="container d-flex justify-content-between mt-4">
            <span style="font-size:13px">県千葉体育大会執行部</span>
            <span></span>
        </div>
    </footer>

    </template>
    <template v-else>
        <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="text-center">
                <img src="imgs/header_logo.png" width="140px" id="load_logo"><br>
                <div class="spinner-border text-primary mt-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p class="mt-3">読み込み中です...</p>
            </div>
          </div>
    </template>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <script>
    new Vue({
        el: '#app',
        data: {
            page:"home",
            result:{}/*{'typhoon':[["3-B","3-A","3-E","3-C"],["3-D","3-F","3-H","3-G"]],
            'game_score':{'typhoon':[140,145],'all_relay':[80,95],'borrow_race':[50,60],'long_jump':[10,90],
                'ball_toss':[50,70],'vertical_relay':[50,50],'dance':[20,30]
            },
            'all_relay': [["1-2","2-2","2-1","3-2","3-1","1-1"],
            ["1-D","1-C","1-E","1-H","1-A","1-B","1-F","1-G"],
            ["2-B","2-A","2-D","2-C","2-G","2-E","2-F","2-H"]],
            'borrow_race':[ [ [ '1-1', '1-B', '2-D', '3-A' ],[ '1-1', '1-H', '2-E', '3-E' ],
            [ '1-2', '1-A', '2-C', '3-H' ],[ '1-2', '1-E', '2-A', '3-D' ] ],
            [ [ '1-2', '1-E', '2-D', '3-A' ],[ '1-1', '1-D', '2-E', '3-E' ],
            [ '1-1', '1-A', '2-C', '3-H' ],[ '1-2', '1-B', '2-A', '3-D' ] ],
            [ [ '2-2', '1-B', '2-D', '3-A' ],[ '2-2', '1-H', '2-E', '3-E' ],
            [ '2-1', '1-A', '2-C', '3-H' ],[ '2-1', '1-E', '2-A', '3-D' ] ],
            [ [ '2-1', '1-E', '2-D', '3-A' ],[ '2-2', '1-D', '2-E', '3-E' ],
            [ '2-2', '1-A', '2-C', '3-H' ],[ '2-1', '1-B', '2-A', '3-D' ] ],
            [ [ '3-1', '1-B', '2-D', '3-A' ],[ '3-1', '1-H', '2-E', '3-E' ],
            [ '3-2', '1-A', '2-C', '3-H' ],[ '3-2', '1-E', '2-A', '3-D' ] ],
            [ [ '3-2', undefined, undefined, undefined ],[ '3-1', undefined, undefined, undefined ],
            [ '3-2', undefined, undefined, undefined ],[ '3-1', undefined, undefined, undefined ] ] ],
            'long_jump':[ [ [ '2-1', 50, 290, 350, 1 ],[ '1-2', 40, 280, 400, 2 ],
            [ '1-1', 35, 300, 500, 3 ],[ '2-2', 60, 295, 380, 4 ] ],
            [ [ '2-F', 35, 260, 390, 1 ],[ '2-E', 40, 320, 490, 2 ],
            [ '2-C', 45, 290, 500, 3 ],[ '2-B', 50, 280, 420, 4 ],
            [ '2-G', 20, 280, 390, 5 ],[ '2-D', 45, 290, 530, 6 ],
            [ '2-H', 50, 285, 370, 7 ],[ '2-A', 20, 300, 400, 8 ] ],
            [ [ '3-E', 40, 320, 500, 1 ],[ '3-G', 20, 280, 490, 2 ],
            [ '3-A', 20, 300, 350, 3 ],[ '3-B', 50, 280, 380, 4 ],
            [ '3-H', 50, 285, 500, 5 ],[ '3-F', 35, 260, 530, 6 ],
            [ '3-C', 45, 290, 400, 7 ],[ '3-D', 45, 290, 420, 8 ] ] ],
            'ball_toss':[ [ [ '1-A', '1-1', '1-B', 50, 20, 70 ],[ '1-E', '1-2', '1-C', 60, 15, 70 ],
            [ '1-B', '1-2', '1-A', 40, 20, 60 ],[ '1-F', '1-1', '1-H', 50, 30, 60 ],
            [ '1-H', '1-2', '1-F', 30, 10, 60 ],[ '1-G', '1-2', '1-D', 40, 20, 50 ],
            [ '1-C', '1-1', '1-E', 30, 10, 45 ],[ '1-D', '1-1', '1-G', 20, 10, 40 ] ],
            [ [ '2-A', '2-1', '2-B', 50, 20, 70 ],[ '2-E', '2-2', '2-C', 60, 15, 70 ],
            [ '2-D', '2-1', '2-G', 50, 20, 70 ],[ '2-H', '2-2', '2-F', 60, 15, 70 ],
            [ '2-B', '2-2', '2-A', 40, 20, 60 ],[ '2-G', '2-2', '2-D', 40, 20, 60 ],
            [ '2-C', '2-1', '2-E', 30, 10, 45 ],[ '2-F', '2-1', '2-H', 30, 10, 45 ] ],
            [ [ '3-A', '3-1', '3-B', 50, 20, 70 ],[ '3-E', '3-2', '3-C', 60, 15, 70 ],
            [ '3-D', '3-1', '3-G', 50, 20, 70 ],[ '3-H', '3-2', '3-F', 60, 15, 70 ],
            [ '3-B', '3-2', '3-A', 40, 20, 60 ],[ '3-G', '3-2', '3-D', 40, 20, 60 ],
            [ '3-C', '3-1', '3-E', 30, 10, 45 ],[ '3-F', '3-1', '3-H', 30, 10, 45 ] ] ],
            'vertical_relay':[ [ 'B', 'E', 2, 1 ],[ 'A', 'F', 1, 2 ],[ 'C', 'D', 1, 3 ],[ 'G', 'H', 2, 4 ] ],
            'total':[120,210],
            'dance':[["3-2","3-1"],
                ["1-E",  "1-F",  "1-B",  "1-D",  "1-C",  "1-H",  "1-A",  "1-G"]]
            }*/,
            team_num:[[0,2,3,5],[1,4,6,7]],
            team:[['1-1','2-1','3-1'],['1-2','2-2','3-2'],['A','C','D','F'],['B','E','G','H']],
            score_config:{
                typhoon_score:[20,14,9,5],
                all_relay_score:[25,20,16,12,8,6,4,2],
                borrow_race:[4,3,2,1],
                long_jump:[25,20,16,12,8,6,4,2],
                vertical_relay:[10,7,5,3],
                dance:[25,20,16,12,8,6,4,2]
            },
            game_list:['typhoon','all_relay','borrow_race','ball_toss','dance','long_jump','vertical_relay'],
            game_list_jp:['台風の目','全員リレー','借人競走','おじゃま玉入れ','チームダンス','長縄跳び','縦割りリレー'],
            game_order:{'long_jump':['中学生','高校2年','高校3年'],
            'ball_toss':['中学1年+高校1年','中学2年+高校2年','中学3年+高校3年'],
            'all_relay':['中学1年','高校1年','高校2年'],
            'dance':['中学生','高校生']},
            next_game:"",
            next_game_jp:'',
            time_flag:true,
            result_2:{},
            load:true
        },
        created:function(){
            fetch("https://script.google.com/macros/s/AKfycbzT8SFiv-KjLJU8Sr8gaARyJZ5p0egrpkql4QA5bQqsX04JxvJLyZ7vl4KmSSM-s3F-/exec")
                .then(response => response.json())
                .then(data => {
                console.log(data); // 受け取ったJSON
                this.result=JSON.parse(data)
                let finish_flag=0
                for(let i=0; i<this.game_list.length; i++){
                    console.log(this.result.game_score[this.game_list[i]],'hhhh')
                    console.log('fdaf')
                    if(this.result.game_score[this.game_list[i]][0]+this.result.game_score[this.game_list[i]][1]==0){
                        this.next_game=this.game_list[i];
                        this.next_game_jp=this.game_list_jp[i];
                        finish_flag=1;
                        break
                    }
                }
                if(finish_flag==0){
                    this.next_game_jp="全ての競技が終了しました"
                    this.next_game='last_logo'
                }
                this.load=false
                })
                .catch(error => console.error("Error:", error));

            const now = new Date();
            // 現在の時刻
            const currentMinutes = now.getHours() * 60 + now.getMinutes();
            // 13:45
            const reopentime = 15 * 60 + 45;
            const closetime = 13 * 60
            //const reopentime = 2 * 60 + 45;
            //const closetime = 0 * 60
            if(currentMinutes<=reopentime && currentMinutes>=closetime){
                this.time_flag=false;
            }else{
                this.time_flag=true;
            }
        }

    })
    </script>

    <script>
    Vue.config.errorHandler = function (err, vm, info) {
      console.error("Vueエラー:", err);
      console.error("発生コンポーネント:", vm.$options.name || '(匿名コンポーネント)');
      console.error("追加情報:", info);
    };
  </script>

</body>
</html>
